@import "responsive_mixins";
// responsive mixins for global use
@import "mixins"; // Color mixins for global use

$theme-name: 'zappy-theme';

//$theme-name: 'deeppurple-amber';
//$theme-name: 'pink-bluegrey';
// Available themes
// Light Mode --> deeppurple-amber | indigo-pink
// Dark Mode ---> purple-green | pink-bluegrey

// definition. do not change here -->Start;
$dark-mode: false;
$primary-color: #ffffff;
$background-color: #ffffff;
// definition. do not change here --< End;

// conditional variables updating only in if blocks
// theme settings --> Start
@if ($theme-name == 'deeppurple-amber') {
  $primary-color: #673ab7;
}

@if ($theme-name == 'indigo-pink') {
  $primary-color: #3f51b5;
}

@if ($theme-name == 'purple-green') {
  $dark-mode: true;
  $primary-color: #7b1fa2;
  $background-color: #303030;
}

@if ($theme-name == 'pink-bluegrey') {
  $primary-color: #c2185b; // #673ab7; // #7b1fa2;
  $background-color: #303030;
  $dark-mode: true;
}

@if ($theme-name == 'zappy-theme') {
  $primary-color: #CE5394; // #48a1FF;
  $dark-mode: false;
}


// theme settings --< End


// VARIABLES //

//buttons
$button-primary-outline: #D36067;
$button-primary-gradient1: #D140B4;
$button-primary-gradient2: #D83B3B;


//room-details
$room-setting-item-hover-bg-color: #F5DDF4

