.main-wrapper {

  $map_width: 5600;
  $map_height: 5600;

  $scale_x: 0.65;
  $scale_y: 0.65;


  width: $map_width*$scale_x + px;
  height: $map_height*$scale_y + px;

  .character-wrapper, .interactive-wrapper, .restricted-wrapper, .stream-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: $map_width*$scale_x +px;
    height: $map_height*$scale_y +px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .character {
    // width: 40px;
    width: 60*$scale_x + px;
    position: absolute;
    z-index: 5;
  }

  .tree {
    width: 50%;
    height: 50%;
    // img{
    //   width: 50%;
    //   height:50%;
    // }
  }

  .coconut_1 {
    position: absolute;
    width: 652px;

  }

  .local_video {
    position: fixed;
    left: calc(50% - 100px);
    bottom: 0px;
    z-index: 100;
    opacity: 0.8;
    background: white;
    border-radius: 10px;
    overflow: hidden;

    video {
      width: 150px;
    }
  }

  .remote_videos {
    position: fixed;
    left: 100px;
    right: 100px;
    top: 0px;
    z-index: 100;
    opacity: 0.9;
    //background: white;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;

    video {
      width: 200px;
    }

    .remote-video-item {
      display: inline-flex;

    }
  }

  // overflow: hidden;
}

.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
