.main-wrapper {
  .character-wrapper, .interactive-wrapper, .restricted-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 2800px;
    height: 2800px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .character {
    // width: 40px;
    width: 60px;
    position: absolute;
    z-index: 5;
  }

  .tree {
    width: 50%;
    height: 50%;
    // img{
    //   width: 50%;
    //   height:50%;
    // }
  }

  .coconut_1 {
    position: absolute;
    width: 652px;

  }

  .stage {
    position: absolute;
    left: 880px;
    top: 608px;
    width: 1080.5px;
    height: 1080.5px;
  }

  .local_video {
    position: fixed;
    left: 1000px;
    top: 600px;
  }

  .remote_video {
    position: fixed;
    left: 100px;
    top: 0px;
    z-index: 10;
  }

  .remote_video1 {
    position: fixed;
    left: 300px;
    top: 0px;
    z-index: 10;
  }

  .remote_video2 {
    position: fixed;
    left: 500px;
    top: 0px;
    z-index: 10;
  }

  .remote_video3 {
    position: fixed;
    left: 700px;
    top: 0px;
    z-index: 10;
  }

  .remote_video4 {
    position: fixed;
    left: 900;
    top: 0px;
    z-index: 10;
  }

  .remote_video5 {
    position: fixed;
    left: 1100px;
    top: 0px;
    z-index: 10;
  }

  // overflow: hidden;
}
