<div class="main-wrapper">
  <div class="main-background">
    <img src="assets/images/map_assets/Map.jpg">
  </div>

  <div class="character-wrapper">
    <div class="my-character">
      <img src="assets/images/map_assets/Asset1.png">
    </div>
  </div>

  <div class="interactive-wrapper">
    <div class="stage">
      <img src="assets/images/map_assets/stage1.png">
    </div>
    <!-- <div class="chair">
      <img src="assets/images/map_assets/chair.png">
    </div> -->
  </div>

  <div class="restricted-wrapper">
    <div class="ferris_wheel">
      <img src="assets/images/map_assets/ferris_wheel1.png">
    </div>
    <div class="house">
      <img src="assets/images/map_assets/building.png">
    </div>
    <div class="banner">
      <img src="assets/images/map_assets/banner.png">
    </div>
    <div class="banner1">
      <img src="assets/images/map_assets/banner.png">
    </div>
    <div class="single_chair">
      <img src="assets/images/map_assets/single_chair.png">
    </div>
    <div class="single_chair_1">
      <img src="assets/images/map_assets/single_chair.png">
    </div>
     <div class="tree">
      <img src="assets/images/map_assets/coconut_1.png">
    </div>
    <div class="tree_1">
      <img src="assets/images/map_assets/coconut_2.png">
    </div>
    <div class="tree_2">
      <img src="assets/images/map_assets/coconut_2.png">
    </div>
    <div class="tree_3">
      <img src="assets/images/map_assets/coconut.png">
    </div>
  </div>

</div>

