.main-wrapper {
  .character-wrapper, .interactive-wrapper, .restricted-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 2800px;
    height: 2800px;
    overflow: hidden;
    // transform: translate(-50%, -50%);
    img{
      width: 100%;
      height: 100%;
    }
  }

  .tree {
    width: 200px;
    // height:124px;
    position: absolute;
    top: 800px;
    // left: 500px;
    z-index: 0;
  }
  .tree_1{
    width: 300px;
    // height:124px;
    position: absolute;
    top: 1200px;
    // left: 500px;
    z-index: 0;
  }
  .tree_2{
    width: 300px;
    // height:124px;
    position: absolute;
    top: 200px;
    left: 2600px;
    z-index: 0;
  }
  .tree_3{
    width: 200px;
    // height:124px;
    position: absolute;
    top: 1000px;
    left: 600px;
    z-index: 0;
  }
  .coconut-tree {
    width: 100px;
    height:124px;
    position: absolute;
    top: 200px;
    left: 800px;
    z-index: 0;
  }

  .chair {
    width: 100px;
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 0;
  }

  .my-character {
    width: 60px;
    position: absolute;
    top: 600px;
    left: 600px;
    z-index: 1;
  }

  .stage{
    width: 1000px;
    position: absolute;
    top: 600px;
    left: 900px;
    z-index: 0;
  }
  .ferris_wheel{
    position: absolute;
    top:100px;
    left:100px;
    z-index:0;
    width:500px;
  }
  .house{
    position: absolute;
    top:1105px;
    left:2200px;
    z-index: 0;
    width: 600px;
  }
  .banner{
    position: absolute;
    top:100px;
    left:700px;
    z-index: 0;
    width: 500px;
  }
  .banner1{
    position: absolute;
    top:100px;
    left:1500px;
    z-index: 0;
    width: 500px;
  }
  .single_chair{
    position: absolute;
    top:1800px;
    left:200px;
    z-index: 0;
    width: 300px;
  }
  .single_chair_1{
    position: absolute;
    top:1800px;
    left:500px;
    z-index: 0;
    width: 300px;
  }


  //overflow: hidden;
}
