<div class="dashboard-wrapper">
  <div class="create-space-container">
    <div class="create-space-wrapper">
      <div class="create-space-title">
        Create your new space
      </div>
      <div class="create-space-cta-button">
        <a [routerLink]="'/space/create'">
          <button class="btn btn-lg btn-primary">
            Create space
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="my-space-container">
    <div class="my-space-wrapper">
      <div class="my-space-title">
        Your Spaces
      </div>
      <div class="map-thumbnail-list">
        <ng-container *ngFor="let space of userSpacesList">
          <div class="map-thumbnail-item">
            <div class="map-thumbnail-item-image-wrapper">
              <div class="map-thumbnail-item-image" [style.background-image]="'url(' + space.iconUrl +')'"></div>
            </div>
            <div class="map-thumbnail-item-tag">
              {{space.tag}}
            </div>
            <div class="map-thumbnail-item-meta-info">
              <div class="map-thumbnail-item-title">
                {{space.title}}
              </div>
              <div class="map-thumbnail-item-sub-title">
                {{space.caption}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
